Repository kentcdodds/kentcdodds.com, pull requests merged in 2021-01, with the labels that each got.

#629 Change deprecated method
  content/blog/wrapping-react-use-state-with-type-script/index.mdx
Labels: Type: Content, Type: Maintainance

#636 chore(post): fix minor typo
  content/blog/using-fetch-with-type-script/index.mdx
Labels: Status: Completed, Type: Content

#637 fix: update repo links to use main branch
  gatsby-node.js
Labels: Priority: High, Status: Completed, Type: Maintainance
